<div class="container mt-3">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Ulica</th>
      <th scope="col">Miasto</th>
      <th scope="col">Kod pocztowy</th>
      <th scope="col">Kod dostawy</th>
      <th scope="col">Wybierz adres dostawy</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let address of addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.postcode}}</td>
      <td>{{address.client_delivery_code?.code}}</td>
      <td>
        <a [routerLink]="['/dodaj-zamowienie/szczegoly', address.client_delivery_code?.code]">
          <i class="fa fa-plus fa-2x"></i></a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
