<div class="container mt-3">

  <div class="row" *ngIf="clientsToContinue.length > 0">
    <div class="col alert alert-danger">
    Nie skończyłeś dodawać nowego klienta, kliknij aby dokończyć dodawanie klienta
      <span *ngFor="let client of clientsToContinue">
        <a [routerLink]="['/klienci/akcje', client.id]" class="alert-link">{{client?.name}} </a>
        <span *ngIf="clientsToContinue.length > 1">, </span>
      </span>
    </div>
  </div>

  <button class="mb-2" mat-raised-button [routerLink]="['/dodaj-klienta']">
    Dodaj klienta
  </button>

  <table mat-table [dataSource]="clients" class="mat-elevation-z8" *ngIf="!isFormActive">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa klienta</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="client_code">
      <th mat-header-cell *matHeaderCellDef> Kod klienta</th>
      <td mat-cell *matCellDef="let element"> {{element.client_code}} </td>
    </ng-container>

    <ng-container matColumnDef="main_address">
      <th mat-header-cell *matHeaderCellDef> Adres siedziby</th>
      <td mat-cell *matCellDef="let element">
        {{element.main_address?.street}}  {{element.main_address?.postcode}} {{element.main_address?.city}}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Akcje</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" [routerLink]="['/klienci/akcje', element.id]">
          <i class="fa fa-info" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>



