<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="createProduct()">

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Nazwa produktu" formControlName="name" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Kod produktu" formControlName="product_code" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Wybierz jednostkę" formControlName="units" required>
                    <mat-option *ngFor="let unit of units" [value]="unit.unit">{{unit.unit}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary"
                type="submit"
                [disabled]="!productForm.valid">Dodaj produkt</button>
    </form>
</div>