<div class="container mt-3">

  <button mat-mini-fab color="primary" class="float-right mb-3"
          [routerLink]="['/dodaj-zamowienie']">
    <i class="fa fa-plus"></i>
  </button>

  <form [formGroup]="filterForm" (ngSubmit)="filterRequest()">

    <mat-form-field class="px-1">
      <input matInput [matDatepicker]="pickerFrom" placeholder="Data realizacji zamówienia" formControlName="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="px-1">
      <input matInput [matDatepicker]="pickerTo" placeholder="Data realizacji zamówienia" formControlName="dateTo">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="px-1">
      <input matInput placeholder="Trasa" formControlName="route">
    </mat-form-field>

    <mat-form-field class="px-1">
      <mat-select placeholder="Sortuj" formControlName="sortBy" [(value)]="sortType[0].type">
        <mat-option *ngFor="let sort of sortType" [value]="sort.type">
          {{sort.alias}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox class="px-1" formControlName="isReady" color="primary">Zrealizowane</mat-checkbox>

    <div class="form-group">
      <button mat-raised-button color="primary" type="submit">
        Filtruj
      </button>
    </div>

  </form>

  <div class="d-flex justify-content-center">
    <mat-spinner *ngIf="!isDataLoaded" value="indeterminate"></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="orders.length > 0 && isDataLoaded">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa klienta</th>
      <td mat-cell *matCellDef="let element"> {{element.delivery_code?.client_address?.client?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="delivery_code">
      <th mat-header-cell *matHeaderCellDef> Kod dostawy</th>
      <td mat-cell *matCellDef="let element"> {{element.delivery_code?.code}} </td>
    </ng-container>

    <ng-container matColumnDef="delivery_address">
      <th mat-header-cell *matHeaderCellDef> Adres dostawy</th>
      <td mat-cell *matCellDef="let element">
        {{element.delivery_code?.client_address?.street}},
        {{element.delivery_code?.client_address?.postcode}}
        {{element.delivery_code?.client_address?.city}}
      </td>
    </ng-container>

    <ng-container matColumnDef="delivery_date">
      <th mat-header-cell *matHeaderCellDef> Data dostawy</th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="delivery_date_of_added">
      <th mat-header-cell *matHeaderCellDef> Data dodania zamówienia</th>
      <td mat-cell *matCellDef="let element"> {{element.date_stamp}} </td>
    </ng-container>

    <ng-container matColumnDef="order_id">
      <th mat-header-cell *matHeaderCellDef> Akcje</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary"  (click)="openOrderSheet(element)">
          <i class="fa fa-info" aria-hidden="true"></i>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteOrder(element)" class="ml-1">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [length]="page?.total"
                 [pageSize]="page?.limit"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="changePage($event)">
  </mat-paginator>

</div>

