<div class="container mt-3">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Nazwa klienta</th>
      <th scope="col">Kod klienta</th>
      <th scope="col">Adres siedziby</th>
      <th scope="col">Wybierz klienta</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let client of clients">
      <td>{{client.name}}</td>
      <td>{{client.client_code}}</td>
      <td>{{client.main_address?.street}}
        <br>{{client.main_address?.postcode}}
        {{client.main_address?.city}}
      </td>
      <td>
        <a [routerLink]="['/dodaj-zamowienie/wybierz-dostawe', client.id]" (click)="selectClient(client)">
          <i class="fa fa-plus fa-2x"></i></a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
