<div class="container mt-3">
    <form [formGroup]="orderForm" (ngSubmit)="createOrderHeader()" *ngIf="!isOrderAdded">

        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Data realizacji zamówienia" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Trasa" formControlName="route">
                <mat-error *ngIf="orderForm.get('route').hasError('required')">
                    Trasa jest <strong>wymagana</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Opis zamówienia" formControlName="description">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary"
                [disabled]="!orderForm.valid || isResponse" type="submit">
            Przejdź dalej
        </button>
    </form>

    <app-order-body *ngIf="isOrderAdded" [orderHeader]="orderHeader"></app-order-body>
</div>