<div class="container">
    <form id="productForm" [formGroup]="orderForm" (ngSubmit)="createOrderBody()" class="form">

        <span *ngIf="orderBodies.length > 0">Lista produktów</span>
        <mat-list class="mb-3">
            <mat-list-item *ngFor="let product of orderBodies">
                Kod produktu: {{product.product?.product_code}}, {{product.product?.name}},
                ilość: {{product.quantity}} {{product.product?.units}}
                <span *ngIf="product.price" class="ml-1">Przypisana cena: {{product.price}}</span>
                <span *ngIf="product.description" class="ml-1">Opis: {{product.description}}</span>
                <button class="ml-1" mat-mini-fab color="warn" (click)="removeSelectedProduct(product)">Usuń</button>
            </mat-list-item>
        </mat-list>

        <div class="form-group">
            <mat-form-field color="full-width">
                <input type="text" placeholder="Wybierz produkt" aria-label="Number"
                       matInput formControlName="product" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="displayUnitOfSelectedProduct($event)">
                    <mat-option *ngFor="let product of filteredProducts | async"
                                [value]="product.product_code + ', ' + product.name">
                        {{product.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Ilość {{productSelectedUnit}}" value="0" formControlName="quantity">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full-width">
                <input matInput placeholder="Cena produktu" value="0" formControlName="price">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="example-full-width">
                <textarea formControlName="description" matInput placeholder="Dodatkowy opis" cdkTextareaAutosize></textarea>
            </mat-form-field>
        </div>

        <button mat-raised-button type="button"
                (click)="addProductToOrder()">
            Dodaj produkt do zamówienia</button>

        <button [disabled]="orderBodies.length < 1 || isResponse" class="ml-1"
                type="submit" mat-raised-button color="primary">
            Dodaj zamówienie</button>
    </form>
</div>