<mat-nav-list>
  <a  mat-list-item (click)="openLink($event)">
    <span mat-line>Order for client: <b>{{_orderHeader?.delivery_code?.client_address?.client?.name}}</b> - <b class="client-code">#{{_orderHeader?.delivery_code?.code}}</b></span>
  </a>
  <a *ngFor="let body of _orderBody" mat-list-item>
    <span class="m-1">{{body?.product.name}}, </span>
    <span class="m-1">Price: {{body?.price}}, </span>
    <span class="m-1">Quantity: {{body?.quantity}} {{body?.product?.units}}</span>
  </a>
</mat-nav-list>
