<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-8bits">
  <p style="font-size: 20px; color: white">Ładowanie...</p>
</ngx-spinner>

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Zamawiacz</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">

      <mat-nav-list *ngIf="_isLogin">
        <a mat-list-item>
        </a>
        <a mat-list-item><strong>{{_user?.username | titlecase}}</strong></a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/klienci']">Klienci</a>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/dodaj-klienta']">Dodaj klienta</a>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/twoje-zamowienia']">Zamowienia</a>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/dodaj-zamowienie']">Dodaj zamówienie</a>
        <a mat-list-item routerLinkActive="active" [routerLink]="['/dodaj-produkt']">Dodaj produkt</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="logout()">Wyloguj się</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="!_isLogin" class="ml-3 mr-3">
        <form #navForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput name="username" type="text" placeholder="Login" required
                     [(ngModel)]="model.username">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput name="password" type="password" placeholder="Password" required
                     [(ngModel)]="model.password">
            </mat-form-field>
          </div>

          <button [disabled]="!navForm.valid" mat-raised-button color="primary">Login</button>
        </form>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

