<div class="container">
  <div *ngFor="let order of orders">
    {{order.product.product_code}} - {{order.product?.name}},
    zamówiona ilość: {{order.quantity}} {{order.product?.units}}
    <span *ngIf="order.description">{{order.description}}</span>
    <span *ngIf="order.price">Przypisana cena: {{order.description}}</span>
  </div>
</div>