<div class="container">

  <form [formGroup]="addressForm" (ngSubmit)="createAddress()">

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Ulica" formControlName="street" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Miejscowość" formControlName="city" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Kod pocztowy" formControlName="postcode" required>
        <mat-error *ngIf="addressForm.get('postcode').touched
            && addressForm.get('postcode').hasError('pattern')">Wprowadź kod pocztowy</mat-error>
      </mat-form-field>
    </div>

    <div class="form-check mb-3">
      <mat-slide-toggle formControlName="isMainAddress">Adres siedziby</mat-slide-toggle>
    </div>

    <button mat-raised-button color="primary"
            [disabled]="!addressForm.valid || isResponseSend"
            type="submit">Dodaj adres</button>
  </form>

</div>
