<div class="container">
    <button class="btn btn-primary btn-lg" [routerLink]="['/klienci/dodaj-adres-dostawy', clientId]">
        Dodaj adres dostawy
    </button>
    <button class="btn btn-primary btn-lg" [routerLink]="['/klienci/dostawy', clientId]">
        Dostawy
    </button>
</div>