<div class="container mt-3">
  <button class="btn btn-primary btn-sm float-right mb-3"
          [routerLink]="['/klienci/dodaj-adres-dostawy', clientId]">
    <i class="fa fa-plus"></i>
  </button>
  <table class="table table-hover" *ngIf="!isFormActive">
    <thead>
    <tr>
      <th scope="col">Ulica</th>
      <th scope="col">Miasto</th>
      <th scope="col">Kod pocztowy</th>
      <th scope="col">Kod dostawy</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let address of addresses">
      <td>{{address.street}}</td>
      <td>{{address.city}}</td>
      <td>{{address.postcode}}</td>
      <td>{{address.client_delivery_code?.code}}</td>
    </tr>
    </tbody>
  </table>

</div>
