<div class="container">
    <form [formGroup]="clientForm" (ngSubmit)="createClient()" *ngIf="!isClientCreated">

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Nazwa klienta" formControlName="name" required>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Kod klienta" formControlName="client_code" required>
                <mat-error *ngIf="clientForm.get('client_code').hasError('pattern')
                        && clientForm.get('client_code').touched">
                    Kod klienta powinien posiadać od 1 do 10 cyfr</mat-error>
            </mat-form-field>

        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Nip" formControlName="nip" required>
                <mat-error *ngIf="clientForm.get('nip').hasError('pattern')
                            && clientForm.get('nip').touched">Nip powinien miec 10 cyfr</mat-error>
            </mat-form-field>
        </div>

        <button type="submit"
                mat-raised-button color="primary"
                [disabled]="isRequest">Przejdź dalej</button>
    </form>

    <app-client-address [clientInput]="client" *ngIf="isClientCreated">
    </app-client-address>

</div>