/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
/*@import "../node_modules/bootswatch/dist/superhero/bootstrap.min.css";*/
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

.invalid-feedback {
    display: block;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 50%;
}